numpy>=1.19
scipy>=1.5,!=1.6.1
matplotlib>=3.3
pandas>=1.1
black==21.5b1
pre-commit>=2.12
sphinx~=4.0
pydata-sphinx-theme~=0.6
sphinx-gallery~=0.9
numpydoc>=1.1
pillow>=8.2
nb2plots>=0.6
texext>=0.6.6
osmnx>=1.1
momepy>=0.4
contextily>=1.1
seaborn>=0.11
cairocffi>=1.2
python-igraph>=0.9
lxml>=4.5
pygraphviz>=1.7
pydot>=1.4.1
twine>=3.4
wheel>=0.36
pytest>=6.2
pytest-cov>=2.12
codecov>=2.1
